html, body, div, h1, h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.sectiontitle {
    text-align:center;
    font-size: 24px;
    margin-top:18px; 
    margin-bottom: 18px;
}

.explainer {
    text-align:center;
    font-size: 12px;
    margin-top:10px;
    color:dimgray;
}

.column {
float: left;
width: 33.33%;
}

.halfcolumn {
float: left;
width: 38%;
}

#stats {
    text-align: center;
    font-size: smaller;
    color: dimgray;
    width: 20% !important;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
    width: 100%;
    font-size: 12px;
    }

    .halfcolumn {
    width: 100%;
    font-size: 12px;
    }
    
    #stats {
    width: 100% !important;
    font-size: 12px;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: gainsboro;
    border: 1px solid black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 600px;
  }
  
  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 100;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }